## VSCode files
.vscode/*
# I don't think we should share vscode settings, unless there's something specific we want to share
# !.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.vscode/settings.json
*.pyc
python_webreader/jsons/*

## Other
*.pdf
.DS_Store
